.simpleSwap {
  align-items: center;
  position: relative;
  margin-top: 10vh;
  padding: 1em 1em;
  width: 90vh;
  height: 33vw;
}

.disclaimer {
  align-items: center;
  font-size: 50px;
  padding-top: 150px;
}
