:root {
  --font-family: Apple Chancery, cursive;
}

.container {
  background: lightgreen;
  height: 50vh;
  width: 100vw;
  padding: 0.75em;
  display: flex;
  margin: 15vh auto 0;
}

.title-card {
  margin: 0 auto 0;
  background: #fff;
  border-radius: 20px;
  max-width: 85vw;
}

.title-card > a {
  position: relative;
  margin-top: 1em;
  font-size: 2rem;
  font-weight: 300;
  font-family: var(--font-family);
}

.homepageBG-img {
  display: flex;
  position: relative;
  margin-left: auto;
  padding: 1em 1em;
}
